@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Vitalii Gumanichenko<br />
    Movie Store in Dnipro<br />
    <abbr title="Phone">P:</abbr>
    +380637681040
</address>

<address>
    <strong>Support:</strong> <a href="mailto:vitalii.gumanichenko@gmail.com">vitalii.gumanichenko@gmail.com</a><br />
</address>
